{
    "go.testEnvVars": {
        "MONGODB_URI": "mongodb+srv://xxx:xxxx@xxxx.mongodb.net/?retryWrites=true&w=majority",
        "MONGODB_DATABASE_CLOUD": "",
        "MONGODB_HOST": "",
        "MONGODB_DATABASE_CREDENTIALS": "",
        "MONGODB_USERNAME": "",
        "MONGODB_PASSWORD": ""
    },
    "mdb.presetConnections": [
        {
            "name": "MongoDB Atlas Production",
            "connectionString": "mongodb+srv://xxx:xxxx@xxxx.mongodb.net/?retryWrites=true&w=majority"
        }
    ],
    "git.autofetch": true,
    "git.enableSmartCommit": true
}
